///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #fff;
$masthead-small-color:   #fff;

$post-title-color:       #fff;
$post-date-color:        #9a9a9a;


$body-color:            #fff;
$body-background-color: #393939;

$link-color:            #fff;

$headings-color:        #fff;    // h1,h2,h3,h4,h5,h6

$strong-color:          #fff;    // strong

$pre-background-color:  #393939;    // pre

$blockquote-color:        #fff;  // blockquote
$blockquote-border-color: #fff;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #393939;


